@model Workshop.Entities.DTO.CustomerDTO
@using Workshop.UI.Resources
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}


<div>
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text" style="color: #157c6a;font-size: 1.9rem;">
                                @SysResource.CustomerDetais
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">

                    <table class="table table-bordered hover table table-hover" style="font-size:large">
                        <tbody>
                            <tr>
                                <th><text>@SysResource.CustomerCode</text></th>
                                <td>
                                    &nbsp; @Html.DisplayFor(model => model.CustomerCode)
                                </td>
                            </tr>
                            <tr>
                                <th><text>@SysResource.CustomerName</text> </th>
                                <td>
                                    &nbsp;@Html.DisplayFor(model => model.CustomerNameAr)
                                </td>
                            </tr>

                            <tr>
                                <th><text>@SysResource.CustomerName</text> </th>
                                <td>
                                    &nbsp;@Html.DisplayFor(model => model.CustomerNameEn)
                                </td>
                            </tr>

                            <tr>
                                <th><text>@SysResource.Mobil</text> </th>
                                <td>
                                    &nbsp;@Html.DisplayFor(model => model.Mobil1)
                                </td>
                            </tr>
                            <tr>
                                <th><text>@SysResource.Phone</text> </th>
                                <td>
                                    &nbsp;@Html.DisplayFor(model => model.Mobil2)
                                </td>
                            </tr> 
                            <tr>
                                <th><text>@SysResource.Email</text> </th>
                                <td>
                                    &nbsp;@Html.DisplayFor(model => model.CustomerEmail)
                                </td>
                            </tr>

                            <tr>
                                <th><text>@SysResource.Address</text> </th>
                                <td>
                                    &nbsp;@Html.DisplayFor(model => model.CustomerAddress)
                                </td>
                            </tr>

                            <tr>
                                <th><text>@SysResource.BranchName</text> </th>
                                <td>
                                    &nbsp;@Html.DisplayFor(model => model.BranchName)
                                </td>
                            </tr>
                            <tr>
                                <th><text>@SysResource.Remarks</text> </th>
                                <td>
                                    &nbsp;@Html.DisplayFor(model => model.Remarks)
                                </td>
                            </tr>
                            <tr>
                                <th><text>@SysResource.CreateAt</text></th>
                                <td>
                                    @string.Format("{0:yyyy-MM-dd}", Convert.ToDateTime(Html.DisplayFor(model => model.CreatedAt).ToString()))
                                </td>
                            </tr>
                            <tr>
                                <th><text>@SysResource.CreatedBy</text> </th>
                                <td>
                                    &nbsp;@Html.DisplayFor(model => model.CreatedBy)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        @*@Html.ActionLink("Edit", "Edit", new { id = model.TemplateModel.Id }) |*@
                        @Html.ActionLink("العودة الى القائمة", "Index", null, new { @style = "text-decoration:underline; color:black;font-size:large" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
